.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
  display: flex;
  justifyContent: 'center';
  alignItems: 'center';
}

#navbar {
  background: #333;
  color: white;
  display: flex;
  justifyContent: 'space-around';
  padding: 10px 0;
}

#navbar button {
  background: none;
  border: none;
  color: white;
  fontSize: 16px;
}
